* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  display: flex;
  margin-top: 1em;
  flex-direction: row;
  width: 100%;
  max-width: 30em;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 16px 0;
  text-decoration: none;
}

nav a img {
  height: 2em;
}

nav li a {
  text-decoration: none;
  color: #2b4162;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: #2b4162;
  font-weight: 400;
}

h4 {
  margin-top: 12px;
  color: #2b4162;
}

table, td, th {
  border: thin solid #000;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 60%;
}

table tbody tr:nth-of-type(odd) {
  background-color: #E3E9F3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #2B4162;
}

th {
  font-weight: 500;
  padding: 8px;
  color: #fff;
  background-color: #2B4162;
}

td {
  text-align: center;
  padding: 8px;
  font-family: roboto, sans-serif;
}

td a {
  font-family: roboto, sans-serif;
  text-decoration: none;
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
}

#del {
  color: #fff;
  background-color: #AB2346;
}

#upd {
  color: #fff;
  background-color: #226F54;
}

tr:hover {
  color: #557BB4;
  font-weight: 500;
}

form {
  margin-top: 12px;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  ;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin-bottom: 20px;
}

form input {
  -webkit-appearance: none;
  background: #fff;
  color: inherit;
  border: none;
  padding-left: 4px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 14px;
  margin-right: 8px;
  border-radius: 4px;
  width: 300px;
  border: 1px solid #2b4162;
}

form button {
  -webkit-appearance: none;
  background: none;
  color: #2b4162;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #fff;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #2b4162;
  border-radius: 4px;
  min-width: 80px;
}

form button:hover {
  background-color: #eee;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-bottom: 40px;
}

.random-preview {
  background-color: #F1F4F9;
  width: 20rem;
  min-width: 300px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  margin: 20px 20px 0;
  box-shadow: 2px 2px 8px 2px #DDD;
  /*
  -webkit-animation: flip 1s;
  animation: flip 1s;*/
}

.random-preview h5 {
  color: #000;
  font-size: 28px;
  text-align: center;
  font-weight: 400;
  width: 80%;
}

.main-container a {
  color: #2b4162;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.main-container a img {
  height: 3em;
}

#dislike {
  background-color: #AB2346;
}

#like {
  background-color: #226F54;
}

.bottom-bar {
  background-color: #F1F4F9;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 486px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px 16px;
  border-radius: 12px;
}

.bottom-bar a img {
  height: 2em;
  width: 2em;
}

@-webkit-keyframes flip {
  from {
    transform: rotateY(90deg)
  }

  to {
    transform: rotateY(0deg)
  }
}

@keyframes flip {
  from {
    transform: rotateY(90deg)
  }

  to {
    transform: rotateY(0deg)
  }
