* {
  margin: 0;
  font-family: sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 40px;
  text-align: center;
  color: #2b4162;
}

h4 {
  margin-top: 12px;
  color: #2b4162;
}

table, td, th {
  border: 1px solid #2b4162;
}

th {
  color: #2b4162;
}

table td a {
  text-align: center;
  display: flex;
  justify-content: center;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 60%;
  table-layout: fixed;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 5px;
}

form {
  margin-top: 12px;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}

form input {
  -webkit-appearance: none;
	background: #fff;
	color: inherit;
	border: none;
	padding-left: 4px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 14px;
  margin-right: 8px;
  border-radius: 4px;
  width: 300px;
  border: 1px solid #2b4162;
}

form button {
  -webkit-appearance: none;
	background: none;
	color: #2b4162;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background-color: #fff;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #2b4162;
  border-radius: 4px;
  min-width: 80px;
}

form button:hover {
  background-color: #eee;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.random-preview {
  background-color: #F1F4F9;
  width: 20rem;
  height: 50vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  margin: 20px 20px 0;
  padding: 1em;
  box-shadow: 2px 5px 8px 5px #CCC;
  -webkit-animation: flip 1s;
  animation: flip 1s;
}

.random-preview h5 {
  color: #000;
  font-size: 28px;
  text-align: center;
  font-weight: lighter;
}

.main-container a {
	color: #2b4162;
  height: 5em;
  width: 5em;
  min-width: 2.5em;
  font-size: 14px;
  border-radius: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dislike {
  background-color: #AB2346;
}

#like {
  background-color: #226F54;
}

@-webkit-keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}
@keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
}
