{% extends 'base.html' %}

{% block head %}
<title>Statr Up</title>
{% endblock %}

{% block body %}

<div class="main-container">
  <a href="/" id="dislike">
    <img src="{{ url_for('static', filename='close.svg') }}" alt="Dislike">
  </a>
  <div class="random-preview">
    <h5>{{ nice }}</h5>
  </div>
  <a href="/" id="like">
    <img src="{{ url_for('static', filename='favourite.svg') }}" alt="Like">
  </a>
</div>

<div class="bottom-bar">
  <a href="#"><img src="{{ url_for('static', filename='favourite-2.svg') }}" alt=""></a>
  <a href="#"><img src="{{ url_for('static', filename='rotate.svg') }}" alt=""></a>
  <a href="#"><img src="{{ url_for('static', filename='chat.svg') }}" alt=""></a>
</div>

{% endblock %}
